/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "assets/scss/typography.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

:root {
  --hackett-primary: #0f335b;
  --hackett-secondary: #4d5358;
  --hackett-background: #ebf3fa;
  --hackett-sidebar: #e3eff8;
  --hackett-border: #d9e7f5;
}

body {
  margin: 0;
  font-family: "Open Sans", "open-sans", sans-serif;
  background: var(--hackett-background);
}

.p-button {
  border-radius: 8px;
  background: var(--hackett-primary);
  border: transparent;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  width: 100%;
  min-height: 36px;
}